
#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(http://img9.vilipix.com/picture/pages/regular/2022/05/01/20/00/93657054_p0_master1200.jpg?x-oss-process=image/resize,m_fill,w_800);
 /* background: url(https://img9.vilipix.com/picture/pages/regular/2021/04/24/02/05/78075718_p0_master1200.jpg?x-oss-process=image/resize,m_fill,w_1000);*/

  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}
